html {
  scroll-behavior: smooth;
}

.bdy {
  background-image: linear-gradient(to top, #f8e4db 0%, #96d1ec 100%);
}

.nav-item {
  width: 200px;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: bold;
  border-radius: 4px;
  text-align: center;
  justify-content: center;
}

nav {
  z-index: 9999;
}

.navbar-brand {
  color: white;
  font-family: "Roboto", sans-serif;
  padding-left: 13px;
  font-size: 1.5em !important;
  font-weight: bold;
}

.card-deck {
  padding: 15px;
}

#img {
  float:left;
  width:150px;
}

/* positionnement */
header nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.nav-item {
  display: flex;
  margin-left: 20px;
  width: 220px;
}

.liens{
text-decoration: none !important;
color: black;
}

.liens:hover{
  color: rgb(92, 91, 91);
}

.login-box{
  display: flex; /* or inline-flex */
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
  width: 400px;
  background: rgba(0,0,0,.5);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0,0,0,.6);
  border-radius: 10px;
}

.col {
  color: white;
}







#mangas-img{
  background: no-repeat center/120% url(../images/10817.jpg);
  padding: 60px;
  color: white;
  text-shadow:0 0 5px rebeccapurple;
  opacity: 75%;
}

#animes-img{
  background: no-repeat center/120% url(../images/293415.jpg);
  padding: 60px;
  color: black;
  text-shadow:0 0 5px rebeccapurple;
  opacity: 75%;
}

#animes-vf-img{
  background: no-repeat center/120% url(../images/471644.jpg);
  padding: 60px;
  color: black;
  text-shadow:0 0 5px rebeccapurple;
  opacity: 75%;
}

#animes-vostfr-img{
  background: no-repeat center/120% url(../images/471679.jpg);
  padding: 60px;
  color: white;
  text-shadow:0 0 5px rebeccapurple;
  opacity: 75%;
}





.button {
  border: none;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: flex;
  font-size: 16px;
  margin: auto;
  margin-top:30px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button-anime {
  background-color: white;
  opacity: 75%;
  color: black;
  border: 2px solid #555555;
}

.button-anime:hover {
  background-color: #555555;
  opacity: 100%;
  color: white;
}

#error-img{
  background: no-repeat center/cover url(../images/error.jpg);
  height:250px;
  color: white;
  text-shadow:0 0 5px rebeccapurple;
  padding: 20px;
}

#fairy-tail-img{
  background: no-repeat center/cover url(../images/fairy-tail.jpg);
  height:250px;
  color: white;
  text-shadow:0 0 5px rebeccapurple;
  padding: 20px;
}

#fire-force-img{
  background: no-repeat center/cover url(../images/fire-force.jpg);
  height:250px;
  color: white;
  text-shadow:0 0 5px rebeccapurple;
  padding: 20px;
}

#tensei-Shitara-Slime-Datta-Ken-img{
  background: no-repeat center/cover url(../images/Tensei-Shitara-Slime-Datta-Ken.jpg);
  height:250px;
  color: white;
  text-shadow:0 0 5px rebeccapurple;
  padding: 20px;
}


@media screen and (min-width: 1025px) {
  .img-scan {
      display:flex;
      margin:auto;
      width:600px;
  }

  .video {
      display:flex;
      margin:auto;
      margin-top: 30px;
      width:600px;
      height:480px;
  }
  
  .boxWidth{
    max-width : 20em;
  }

  .img-anime{
    float:left;
    width:300px;
  }

  #identite {
    margin-left:150px;
    text-align : center;
  }
}

@media screen and (max-width: 1024px) {
  .img-scan {
      display:flex;
      margin:auto;
      width:300px;
  }

  .video {
      display:flex;
      margin:auto;
      margin-top: 30px;
      width:300px;
      height:240px;
  }

  .boxWidth{
    max-width : 20em;
  }

  .img-anime{
    width:200px;
    margin: auto;
  }

  #identite {
    text-align : center;
  }
}